BasedOnStyle: Microsoft

# --- Indentation ---
IndentWidth: 4
TabWidth: 4
UseTab: Never

# --- Line width ---
ColumnLimit: 120

# --- Braces ---
BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: false
  AfterClass: true
  AfterStruct: true
  AfterFunction: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterUnion: true
  BeforeElse: true
  BeforeCatch: true
  IndentBraces: false

# --- Short statements ---
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# --- Includes ---
SortIncludes: true
IncludeBlocks: Regroup

# --- Pointers & references ---
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

# --- Spaces ---
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true

# --- Alignment ---
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false
AlignOperands: true

# --- Constructors ---
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4

# --- Namespaces ---
NamespaceIndentation: All
CompactNamespaces: false

# --- UE style extras ---
AccessModifierOffset: -4
IndentCaseLabels: true
SeparateDefinitionBlocks: Always
PackConstructorInitializers: Never